{% extends 'template.html' %}

{% block title %}
    Management
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.content-button');
        const contentSections = document.querySelectorAll('[id^="content"]');

        buttons.forEach((button, index) => {
            button.addEventListener('click', () => {
                const isVisible = contentSections[index].style.display === 'flex';

                contentSections.forEach((section) => {
                    section.style.display = 'none';
                });

                if (!isVisible) {
                    contentSections[index].style.display = 'flex';
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center rounded-lg p-5 mb-5 bg-[#1F2632]">
    <h1 class="text-5xl font-bold text-white">Kitchen Management</h1>
</div>

<div class="flex flex-row">
    <div class="flex flex-col w-1/6 gap-5">
        <button class="content-button flex flex-col items-center justify-center rounded-lg p-5 mr-5 h-16 bg-[#1F2632] hover:bg-[#2F394B]">
            <div>
                <h2 class="text-md font-bold text-white">Section 1</h2>
            </div>
        </button>

        <button class="content-button flex flex-col items-center justify-center rounded-lg p-5 mr-5 h-16 bg-[#1F2632] hover:bg-[#2F394B]">
            <div>
                <h2 class="text-md font-bold text-white">Section 2</h2>
            </div>
        </button>

        <button class="content-button flex flex-col items-center justify-center rounded-lg p-5 mr-5 h-16 bg-[#1F2632] hover:bg-[#2F394B]">
            <div>
                <h2 class="text-md font-bold text-white">Section 3</h2>
            </div>
        </button>
    </div>

    <div class="w-5/6">
        <div id="content1" class="hidden flex-col items-center justify-center rounded-lg p-5 h-screen bg-[#1F2632]">
            <div>
                <p class="text-md font-bold text-white">Content 1</p>
            </div>
        </div>

        <div id="content2" class="hidden flex-col items-center justify-center rounded-lg p-5 h-screen bg-[#1F2632]">
            <div>
                <p class="text-md font-bold text-white">Content 2</p>
            </div>
        </div>

        <div id="content3" class="hidden flex-col items-center justify-center rounded-lg p-5 h-screen bg-[#1F2632]">
            <div>
                <p class="text-md font-bold text-white">Content 3</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}